@model List<SportsComplex.Application.ViewModels.TournmentViewModel>
    @{
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
    @section scripts
    {
        <script type="text/javascript">
            $(function () {
                $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[class=checkthis]").each(function () {
                            $(this).prop("checked", true);
                        });

                    } else {
                        $("#mytable input[class=checkthis]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });


                $(":button").click(function(event) {
                    event.preventDefault();
                    if (confirm("Are you sure you want to enroll ?")) {
                        $.ajax({
                            type: "POST",
                            url: '/Employee/Tournment',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify({ "tournment": this.id }),
                            success: function(data) {
                                window.location.reload(true);
                            },
                            error: function(data) {
                                if (data != null) {
                                    alert("Problem occured while enrolling: "+data.statusText);
                                }
                                else {
                                    alert("Some problem occured while enrolling");
                                }
                            }
                        });
                    }
                });
            });
        </script>
    }


    <div class="container" style="margin-top: 20px; min-height: 350px">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Tournment Name</th>
                        <th class="text-center">Tournment Fees</th>
                        <th class="text-center">Last Date for Registration</th>
                        <th class="text-center" style="width: 180px">Enroll</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var eachModel in Model)
                    {
                        if (!@eachModel.IsDeleted)
                        {
                            <tr>
                                <td class="text-center">@eachModel.Name</td>
                                <td class="text-center">@eachModel.Fees</td>
                                <td class="text-center">@eachModel.LastDate</td>
                                <td style="text-align: center">
                                    <button type="button" @(eachModel.IsEnrolled ? "disabled" : "") class="btn btn-primary" id="@eachModel.Id" data-toggle="tooltip" data-placement="top">Enroll</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
