
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{
    <link href="~/Content/largeButton.css" rel="stylesheet"/>
}

<div class="container" style="text-align: center">
    <div class="row">
        <a href="@Url.Action("ResourceBooking","Module")" class="btn btn-xlarge">
            <img src="~/Images/resourceBook_button.ico" class="btn-xlarge-img">
            <br />
            Resource Booking
        </a>
        <a href="@Url.Action("Gym","Module")" class="btn btn-xlarge">
            <img src="~/Images/gym_button.ico" class="btn-xlarge-img">
            <br />
            Gymnasium
        </a>
        <a href="@Url.Action("Tournment")" class="btn btn-xlarge">
            <img src="~/Images/tournament_button.ico" class="btn-xlarge-img">
            <br />
            Tournament
        </a>
        <a href="@Url.Action("Gallery", "Module")" class=" btn btn-xlarge">
            <img src="~/Images/gallery_button.ico" class="btn-xlarge-img">
            <br />
            Gallery
        </a>
        <a href="@Url.Action("SportsReport")" class="btn btn-xlarge">
            <img src="~/Images/report_button.ico" class="btn-xlarge-img">
            <br />
            Sports Report
        </a>
        <a href="@Url.Action("ManageNews")" class="btn btn-xlarge">
            <img src="~/Images/news.ico" class="btn-xlarge-img">
            <br />
            Manage News
        </a>
        <a class="btn btn-xlarge">
            <img src="~/Images/admin_button.ico" class="btn-xlarge-img">
            <br />
            Admin Rights
        </a>
    </div>
</div>
    
